<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    
    <title>📞 Assistente Telefônico IA</title>

    <link 
        rel="stylesheet"
        href="/static/css/style.css?v=2"
    >


</head>


<body>

  <div class="container">

    <h1>Natanzinho Assistente Virtual</h1>

    <p class="subtitle">
        Fale com nosso agente para informações de  viagens e tire suas duvidas!
    </p>

    <div id="call-status" class="call-status">
        ⚪ Desconectado
    </div>

    <button id="btn" class="voice-button">
        Iniciar Chamada
    </button>

    <p id="status" class="status">
        Aguardando...
    </p>

    <div id="response" class="response-box">
        Resposta do Agente...
    </div>

    <button id="btn-end" class="voice-button">
        Encerrar Chamada
    </button>

</div>
    <script src="/static/js/voice.js?v=5"></script>
</body>
</html>