<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    
    <title><h1>📞 Assistente Telefônico IA</h1></title>

    <link 
        rel="stylesheet"
        href="/static/css/style.css"
    >


</head>


<body>

  <div class="container">

    <h1>Assistente Virtual</h1>

    <p class="subtitle">
        Atendimento Inteligente por voz usando IA
    </p>

    <div id="call-status" class="call-status">
        ⚪ Desconectado
    </div>

    <button id="btn" class="voice-button">
        Iniciar Conversa
    </button>

    <p id="status" class="status">
        Aguardando...
    </p>

    <div id="response" class="response-box">
        Resposta da IA...
    </div>

    <button id="btn-end">
        Encerrar Chamada
    </button>

</div>
    <script src="/static/js/voice.js"></script>
</body>
</html>