<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    
    <title>Assistente de Voz IA</title>

    <link 
        rel="stylesheet"
        href="/app/static/css/style.css"
    >


</head>


<body>

    <div class="container">

        <h1>Assistente Virtual</h1>

        <p class="subtitle">Atendimento Inteligente por voz usando IA</p>

        <button id="btn" class="voice-button">
            Iniciar Conversa
        </button>

        <p id="status" class="status">
            Aguardando...
        </p>

        <div id="response" class="response-box">
            Resposta da IA...
        </div>

    </div>  

</body>
</html>